[Desktop Entry]
Name=Digikam
Exec=flatpak run org.kde.digikam
Type=Application
Categories=Flatpak;
Comment=Photo library manager and photo editor
Icon=/var/lib/flatpak/app/org.kde.digikam/current/active/files/share/app-info/icons/flatpak/128x128/org.kde.digikam.png